@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --playfair: 'Playfair Display', serif;
}

.font-playfair {
    font-family: var(--playfair);
}

body {
    padding: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    /* color: #c9d0da; */
}

.nd_shadow:hover {
    transform: translate(-2px, -2px);
    box-shadow: #a78bfa 2px 2px;
}

.custom-container {
    width: 100%;
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1rem;
    padding-right: 1rem;
}


.ellipsis {
    text-overflow: ellipsis;
    /* enables ellipsis */
    white-space: nowrap;
    /* keeps the text in a single line */
    overflow: hidden;
    /* keeps the element from overflowing its parent */
}

/* Pagination */
ul[role="navigation"] {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
    gap: 1rem;
    margin-top: 2rem;
}

ul[role="navigation"] li {
    width: 36px;
    height: 36px;

    border: 1px solid #6366f1;
    color: #6366f1;
    border-radius: 4px;
}

ul[role="navigation"] li a {
    width: 36px;
    height: 36px;

    display: flex;
    align-items: center;
    justify-content: center;
}

ul[role="navigation"] li.selected {
    background-color: #6366f1;
    color: var(--white);
    border: 1px solid #6366f1;
}