@tailwind base;
@tailwind components;
@tailwind utilities;

/* Pagination */
@layer components {
    ul[role="navigation"] {
        @apply flex justify-end -space-x-px text-base mt-4 h-10 w-full;
    }

    ul[role="navigation"] li a {
        @apply flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300 hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white;
    }
    ul[role="navigation"] li.selected a {
        @apply flex items-center justify-center px-4 h-10 text-blue-600 border border-gray-300 bg-blue-50 hover:bg-blue-100 hover:text-blue-700 dark:border-gray-700 dark:bg-gray-700 dark:text-white;
    }
    ul[role="navigation"] li.previous a {
        @apply flex items-center justify-center px-4 h-10 ml-0 leading-tight text-gray-500 bg-white border border-gray-300 rounded-l-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white;
    }
    ul[role="navigation"] li.next a {
        @apply flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border border-gray-300 rounded-r-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white;
    }
}

ul[role="navigation"] li.previous a {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}
ul[role="navigation"] li.next a {
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}